<div class="widget__container--newsletter">
  <div id="kaleva-media-newsletter-container"></div>
  <script src="https://static.miilu.kalevakonserni.fi/subscription-components.js" type="text/javascript"></script>
  <script>
    KalevaSubscriptionComponents.subscriptionForm({
      element: '#kaleva-media-newsletter-container',
      lists: [
        {
          project: '{{ project }}',
          id: {{ id }},
        },
      ],
      accentColor: '{{ accent-color }}',
      formTitleText: '{{ title-text }}',
      thankYouTitleText: '{{ thank-you-title-text }}',
      thankYouSubtitleText: '{{ thank-you-subtitle-text }}',
    });
  </script>
</div>
