<div id="right-now-widget__item--zephr" class="right-now-widget__item right-now-widget__item--commercial" style="display: none">
  <a class="right-now-widget__overlay-link" href="{{ cta-url }}" target="_blank" rel="sponsored"></a>
  <h2 class="right-now-widget__title">
    <span class="right-now-widget__vignette">{{ vignette-text }} </span>
    <span>{{ content }}</span>
  </h2>
</div>

<script>
  let minSiblings = '{{ min-siblings }}';
  let maxSiblings = '{{ max-siblings }}';
  let order = '{{ order }}';

  // TODO: remove debug
  if (document.location.host.includes('local')) {
    minSiblings = 0;
    maxSiblings = 100;
    order = 1;
  }

  const item = document.getElementById('right-now-widget__item--zephr');
  console.log('item', item);
  const siblingCount = item.parentElement.childElementCount - 1;
  console.log('siblingCount', siblingCount);
  if (siblingCount >= minSiblings && siblingCount <= maxSiblings) {
    item.style.display = 'block';
  }
  if (order) {
    item.parentElement.insertBefore(
      item,
      item.parentElement.children[parseInt(order) - 1],
    )
  }
</script>
